<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="banner">
  <%= @page_title || "Simple Blog" %>
</div>

<div id="columns">

  <div id="side">
    <ul>
      <li><%= link_to 'Posts', posts_path %></li>
      <% if admin_rights %>
          <li><%= link_to 'Users', users_path %></li>
      <% end %>
    </ul>
    <% if session[:user_id] %>
        <%= link_to 'My Posts', posts_path(my_posts: true) %>
        <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
        <%= button_to 'Login', login_path, method: :get %>
        <%= button_to 'Register', register_path, method: :get %>
    <% end %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

</div>

<div id="footer">
  <%= render template: 'tags/cloud' %>
</div>

</body>
</html>
